.smplfy-card.card.btn[data-layout='relaxed'] {
  --smplfy-card-current-gap: var(--smplfy-card-gap-relaxed);
  --smplfy-card-current-desc-indent: var(--smplfy-card-desc-indent-relaxed);
  --smplfy-card-current-focus-border-width: var(--smplfy-card-active-border-width);
  --smplfy-card-current-focus-shadow: none;
  --smplfy-card-current-active-border-width: var(--smplfy-card-active-border-width);
  --smplfy-card-current-active-shadow: none;
}
