.smplfy-list-group-item.list-group-item > .d-inline-flex:first-child {
  width: var(--smplfy-list-group-item-icon-size);
  height: var(--smplfy-list-group-item-icon-size);
  flex: 0 0 var(--smplfy-list-group-item-icon-size);
}

.smplfy-list-group-item.list-group-item > .d-inline-flex:first-child svg {
  width: var(--smplfy-list-group-item-icon-size);
  height: var(--smplfy-list-group-item-icon-size);
  display: block;
}

.smplfy-list-group-item.list-group-item > .text-truncate {
  min-width: var(--smplfy-button-space-0);
  font-size: var(--smplfy-list-group-item-font-size);
  line-height: var(--smplfy-list-group-item-line-height);
  font-weight: var(--smplfy-list-group-item-font-weight);
  white-space: nowrap;
}

.smplfy-list-group-item.list-group-item.active .smplfy-badge.badge {
  background-color: var(--smplfy-status-pill-green-subtle-bg) !important;
  border-color: var(--smplfy-status-pill-green-subtle-border) !important;
  color: var(--smplfy-status-pill-green-subtle-text) !important;
}
