.modal-dialog.smplfy-report-breakdown-modal .modal-body {
  color: var(--smplfy-primitive-neutral-900);
  line-height: 160%;
}

.modal-dialog.smplfy-report-breakdown-modal .modal-footer {
  border-top: var(--bs-border-width) solid var(--smplfy-primitive-neutral-300);
}
